.httr-oauth
.Rapp.history
.RData
.Renviron
.Rhistory
.Rproj.user/
.Ruserdata
.vscode/
*_cache/
*_files
*-Ex.R
*.html
*.knit.md
*.utf8.md
**/.quarto/
/.quarto/
/*.Rcheck/
/*.tar.gz
/cache/
docs
docs/
vignettes/*.html
vignettes/*.pdf
/R/Luke_eudot_map_v2.R
~$*.docx
cluster track_v2_new_BK_LEH.docx
figure_3_ideas.pptx
